Repository MetaCubeX/metacubexd: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

refactor: set api authorization headers
  src/signals/request.ts
Due: prettier --write

feat(connections): shorten the tab names
  src/components/ConnectionsTableDetailsModal.tsx
  src/components/ConnectionsTableOrderingModal.tsx
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Connections.tsx
Due: prettier --write

feat: Add LogLevel option.
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
  src/signals/request.ts
  src/types/index.d.ts
Due: prettier --write

style: update debug log color.
  src/pages/Logs.tsx
Due: prettier --write

fix: code lint, constant extract, i18
  .prettierrc
  package.json
  src/constants/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
  src/signals/request.ts
  src/types/index.d.ts
Due: sort-package-json, prettier --write

chore: Add prettierignore
  .prettierignore
Due: none

refactor: Remove LogType.
  src/constants/index.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
  src/types/index.d.ts
Due: prettier --write

fix(type err.): type err
  src/types/index.d.ts
Due: prettier --write

Update src/signals/request.ts
  src/signals/request.ts
Due: prettier --write

refactor: var name change.
  src/signals/request.ts
Due: prettier --write

Update package.json
  package.json
Due: sort-package-json, prettier --write

[Feature] 添加日志等级设置 (#215)
  .prettierignore
  .prettierrc
  package.json
  src/constants/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
  src/signals/request.ts
  src/types/index.d.ts
Due: sort-package-json, prettier --write

style: set endOfLine as lf instead of crlf
  .prettierrc
  src/signals/request.ts
  src/types/index.d.ts
Due: prettier --write

chore(package.json): add lint script
  .eslintignore
  .prettierignore
  package.json
Due: sort-package-json, prettier --write

refactor: auto switch theme
  src/pages/Config.tsx
  src/signals/config.ts
Due: prettier --write

feat: Add log max rows option.
  src/constants/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
Due: prettier --write

style(format): format
  src/constants/index.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
  src/signals/request.ts
  src/types/index.d.ts
Due: prettier --write

fix: import err.
  src/pages/Logs.tsx
Due: prettier --write

chore: reset.
  package.json
Due: sort-package-json, prettier --write

Update src/pages/Config.tsx
  src/pages/Config.tsx
Due: prettier --write

[Feature] 添加日志保留行数调节选项 (#217)
  src/constants/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
Due: prettier --write

fix: logMaxRows value
  src/constants/index.ts
  src/pages/Config.tsx
Due: prettier --write

chore(connections): fix connections type definition
  src/pages/Connections.tsx
  src/signals/connections.ts
Due: prettier --write

feat: settings per-page
  src/components/ConfigTitle.tsx
  src/components/ConnectionsSettingsModal.tsx
  src/components/ConnectionsTableDetailsModal.tsx
  src/components/LogsSettingsModal.tsx
  src/components/ProxiesSettingsModal.tsx
  src/components/index.ts
  src/constants/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/pages/Connections.tsx
  src/pages/Logs.tsx
  src/pages/Proxies.tsx
  src/signals/config.ts
Due: prettier --write

feat(proxy): hideUnAvailableProxies, closes #200
  src/components/ProxiesSettingsModal.tsx
  src/helpers/proxies.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Proxies.tsx
  src/signals/config.ts
Due: prettier --write

feat(rules): renderInTwoColumns
  package.json
  pnpm-lock.yaml
  src/components/Collapse.tsx
  src/components/ForTwoColumns.tsx
  src/components/ProxiesSettingsModal.tsx
  src/components/RulesSettingsModal.tsx
  src/components/index.ts
  src/pages/Config.tsx
  src/pages/Rules.tsx
  src/signals/config.ts
Due: sort-package-json, prettier --write

build(docker): unlock node:alpine image version
  Dockerfile
Due: none

fix: failed to resolve import solid-infinite-scroll
  src/components/ProxyCardGroups.tsx
  src/pages/Proxies.tsx
Due: prettier --write

fix(proxy): tabs won't be shown in proxies page when proxy provider list is empty
  src/pages/Proxies.tsx
Due: prettier --write

feat: drop ForTwoColumns renderer
  src/components/Collapse.tsx
  src/components/ForTwoColumns.tsx
  src/components/ProxiesSettingsModal.tsx
  src/components/RulesSettingsModal.tsx
  src/components/index.ts
  src/pages/Proxies.tsx
  src/pages/Rules.tsx
  src/signals/config.ts
Due: prettier --write

fix: proxy providers grid layout
  src/components/Collapse.tsx
  src/pages/Proxies.tsx
Due: prettier --write

feat(config): reload config file, flush fake-ip data
  src/apis/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
  src/signals/config.ts
  src/signals/proxies.ts
Due: prettier --write

fix(proxy): dont hideUnAvailableProxies in proxy providers
  src/pages/Config.tsx
  src/pages/Proxies.tsx
Due: prettier --write

fix(log): log level value not selected
  src/components/LogsSettingsModal.tsx
  src/pages/Logs.tsx
  src/signals/config.ts
Due: prettier --write

feat(connections): tag client source ip with name, closes #181
  package.json
  pnpm-lock.yaml
  src/components/ConnectionsSettingsModal.tsx
  src/components/ConnectionsTableDetailsModal.tsx
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Connections.tsx
  src/signals/config.ts
  src/signals/connections.ts
  src/types/index.d.ts
Due: sort-package-json, prettier --write

feat(config): update page layout, limit the max width of the container
  src/pages/Config.tsx
Due: prettier --write

feat(config): update page layout
  src/pages/Config.tsx
  src/signals/config.ts
Due: prettier --write

feat(config): update page layout
  src/i18n/en.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json,yml,yaml}
